<div fxLayoutWrap="wrap" fxLayoutAlign="start">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
        <div class="user-content">
            <md-card>
                <div fxLayoutWrap="wrap" fxLayoutAlign="start" class="user-profile">
                    <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="50"  fxFlex.sm="50" fxFlex.xs="100" >
                        <div class="mrgn-b-md"> <img class="img-responsive  display-ib" src="assets/img/user-pro.jpg" alt="user profile image" width="300" height="300"></div>

                       
                    </div>
                    <div fxFlex.xl="80" fxFlex.lg="80" fxFlex.md="50"  fxFlex.sm="50" fxFlex.xs="100"  class="user-contact-info">

                        <ul>
                            <li>
                                <h4>Lisa Arnold</h4>
                                <p>Art Director</p>
                            </li>
                            <li>
                                <div class="contact-list"><i class="fa fa-envelope mat-text-primary" aria-hidden="true"></i> <strong>E-mail</strong></div>
                                <a class="gene-block" href="mailto:abcd@abcd.com">: abcd@abcd.com</a>
                            </li>
                            <li>
                                <div class="contact-list"><i class="fa fa-phone mat-text-primary" aria-hidden="true"></i> <strong>Phone</strong></div>
                                <a class="gene-block" href="mailto:abcd@abcd.com">: +123 456 789890</a>
                            </li>
                            <li>
                                <div class="contact-list"><i class="fa fa fa-map mat-text-primary" aria-hidden="true"></i> <strong>City</strong></div>
                                <span>: New York</span>
                            </li>
                            <li>
                                <div class="contact-list"><i class="fa fa fa-globe mat-text-primary" aria-hidden="true"></i> <strong>Country</strong></div>
                                <span>: USA</span>
                            </li>
                            <li>
                                <div class="contact-list"><i class="fa fa-map-marker mat-text-primary" aria-hidden="true"></i> <strong> Address</strong></div>
                                <span class="gene-block">: E-112,Auston Street, New York ,USA</span>

                            </li>


                        </ul>
                        <div class="user-socail-stats">
                            <ul>
                                <li>
                                    <a><i class="fa fa-facebook"></i></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-twitter"></i></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-google-plus"></i></a>

                                </li>
                                <li>
                                <a><i class="fa fa-linkedin"></i></a>

                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
                <div class="mrgn-b-md">
                    <h4>Summery</h4>

                    <p>
                        Hi, This is Lisa arnold. I am feeling glad for what I have achieved here. But I think life is more about helping people rather than commanding them. I feel life is also full of variations in designs. In terms of design, nature creates beautiful graphs and sets lot of colors in our personal life.
                    </p>
                    <p>
                        So yes I get ideas from nature. The way it designs hills, oceans and fills colors into them. I feel lucky for having this life and capable of identifying hidden treasures beneath a wonderful design.
                    </p>
                </div>

            </md-card>
        </div>
    </div>
</div>