<div fxLayout="row" fxLayoutAlign="start" class="gene-chat-page">
   <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
      <md-card class="mat-pad-none">
         <md-sidenav-container class="chat-content-area">
            <md-sidenav #chatnavbar [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="gene-chat-sidebar">
               <md-toolbar class="mat-red-600 chat-toolbar-side">
                  <a> <img class="img-circle" src="assets/img/register-user-1.jpg"> </a> <span fxFlex></span>
                  <button [md-menu-trigger-for]="user" md-icon-button>
                     <md-icon>more_horiz</md-icon>
                  </button>
               </md-toolbar>
               <hr>
               <md-nav-list class="gene-chat-user">
                  <md-list-item (click)="onSelect(chat)" *ngFor="let chat of chats">
                     <div class="gene-chat-thumb"><img class="img-circle" md-list-avatar src="{{chat.photo}}" alt=""></div>
                     <div class="gene-user-info pad-wrap"> <span> {{chat.from}} </span>
                        <p md-line> {{chat.subject}} </p>
                     </div>
                  </md-list-item>
               </md-nav-list>
            </md-sidenav>
            <md-toolbar class="chat-toolbar mat-red-600">
               <button (click)="chatnavbar.toggle()" md-icon-button>
                  <md-icon>short_text</md-icon>
               </button>
               <a> <img class="img-circle" src="{{selectedChat.photo}}"> </a>
               <div fxFlex class="pad-wrap">
                  <h5 class="margin-none">{{selectedChat.from}}</h5>
                  <h6 class="margin-none">Online</h6> </div>
               <button md-icon-button>
                  <md-icon>attach_file</md-icon>
               </button>
               <button [md-menu-trigger-for]="them" md-icon-button>
                  <md-icon>more_horiz</md-icon>
               </button>
            </md-toolbar>
            <div class="gene-chat-area " fxLayout="column" fxLayoutAlign="end stretch">
              <perfect-scrollbar #chatScroll id="newid">
               <div class="gene-chat-content">
                  <div class="gene-chat-wrap" *ngFor="let message of messages" [ngSwitch]="message.from" fxLayout="column">
                     <div class="gene-chat-list mat-blue-800" *ngSwitchCase="'them'" fxLayout="row" fxLayoutAlign="start start" class="mrgn-b-md">
                        <div><img class="img-circle" [src]="selectedChat.photo"></div>
                        <div class="pad-wrap">
                           <div class="mat-blue-800 gene-chat-msg"><span class="gene-block"> {{selectedChat.from}} </span><span>{{ message.msg }}</span></div>
                           <div> <span class="meta-post gene-text-md">{{message.time}}</span> </div>
                        </div> <span fxFlex></span> </div>
                     <div class="gene-chat-list mat-green" *ngSwitchCase="'me'" fxLayout="row" fxLayoutAlign="start start" class="mrgn-b-md"> <span fxFlex></span>
                        <div class="pad-wrap">
                           <div class="mat-green gene-chat-msg"><span class="gene-block"> Gene Admin </span><span>{{ message.msg }}</span></div><div> <span class="meta-post gene-text-md">{{message.time}}</span> </div>
                           
                        </div>
                        <div><img class="img-circle" src="assets/img/register-user-1.jpg"></div>
                     </div>
                  </div>
               </div>
               </perfect-scrollbar>
               <div class="gene-chat-form">
                  <div>
                     <md-input-container class="gene-send-text">
                        <input mdInput (keyup.enter)="send()" [(ngModel)]="newMessage" placeholder="Send message"> </md-input-container>
                     <button md-fab (click)="send()" class="gene-send-btn mat-blue-800">
                        <md-icon>send</md-icon>
                     </button>
                  </div>
               </div>
            </div>
         </md-sidenav-container>
      </md-card>
   </div>
</div>
<md-menu #user="mdMenu">
   <button md-menu-item>
      <md-icon> account_circle </md-icon> <span> Profile </span> </button>
   <button md-menu-item>
      <md-icon> settings </md-icon> <span> Settings </span> </button>
   <button md-menu-item>
      <md-icon>help</md-icon> <span>Help</span> </button>
   <md-divider></md-divider>
   <button md-menu-item>
      <md-icon> exit_to_app </md-icon> <span> Logout </span> </button>
</md-menu>
<md-menu #them="mdMenu">
   <button md-menu-item>
      <md-icon> account_circle </md-icon> <span> Contact Info </span> </button>
   <button md-menu-item>
      <md-icon> volume_mute </md-icon> <span> Mute Chat </span> </button>
   <md-divider></md-divider>
   <button md-menu-item (click)="clearMessages()">
      <md-icon> clear_all </md-icon> <span> Clear Messages </span> </button>
</md-menu>