<md-card>
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <h4>Snack Bar</h4>
            </div> <span fxFlex></span>
        </div>
        <md-divider></md-divider>
    </div>
    <div class="gene-card-content">
        <p class="mrgn-b-lg"><code>MdSnackBar</code> is a service, which opens snack bar notifications in the view.</p>
        <button md-raised-button (click)="openSnackBar()">Trigger Snackbar</button>
    </div>
</md-card>
