<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" class="pricing-wrapper">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <md-card class="text-center">
                    <md-card-title>Standard</md-card-title>
                    <md-card-subtitle class="mat-text-primary">For most of the users</md-card-subtitle>
                    <div class="gene-card-content text-center">
                        <h1><strong>$ 40 /Mo</strong></h1>
                        <md-list dense>
                            <md-list-item> 10GB of Bandwidth</md-list-item>
                            <md-list-item>200MB Max File Size</md-list-item>
                            <md-list-item class="mat-text-muted">2GHZ CPU</md-list-item>
                            <md-list-item class="mat-text-muted"> 256MB Memory</md-list-item>
                            <md-list-item class="mat-text-muted">1 GB Storage</md-list-item>
                        </md-list>
                        <button md-raised-button color="accent">Choose</button>
                    </div>

                </md-card>


            </div>
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <md-card class="text-center">
                    <md-card-title>Advanced</md-card-title>
                    <md-card-subtitle class="mat-text-primary">For web expericence users</md-card-subtitle>
                    <div class="gene-card-content text-center">
                        <h1><strong>$ 90 /Mo</strong></h1>
                        <md-list dense>
                            <md-list-item class="mat-text-muted">25GB of Bandwidth</md-list-item>
                            <md-list-item class="mat-text-muted">750MB Max File Size</md-list-item>
                            <md-list-item class="mat-text-muted">2GHZ CPU</md-list-item>
                            <md-list-item class="mat-text-muted">256MB Memory</md-list-item>
                            <md-list-item class="mat-text-muted"> 250 GB Storage</md-list-item>
                        </md-list>
                        <button md-raised-button color="accent">Choose</button>
                    </div>

                </md-card>
            </div>




            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <md-card class="text-center">
                    <md-card-title>Mega</md-card-title>
                    <md-card-subtitle class="mat-text-primary">For developer</md-card-subtitle>
                    <div class="gene-card-content text-center">
                        <h1><strong>$ 170 /Mo</strong></h1>
                        <md-list dense>
                            <md-list-item class="mat-text-muted">50GB of Bandwidth</md-list-item>
                            <md-list-item class="mat-text-muted"> 756MB Max File Size</md-list-item>
                            <md-list-item class="mat-text-muted">2GHZ CPU</md-list-item>
                            <md-list-item class="mat-text-muted">256MB Memory</md-list-item>
                            <md-list-item class="mat-text-muted">500GB Storage</md-list-item>
                        </md-list>
                        <button md-raised-button color="accent">Choose</button>
                    </div>

                </md-card>

            </div>
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <md-card class="text-center">
                    <md-card-title>Master</md-card-title>
                    <md-card-subtitle class="mat-text-primary">For large enterprises</md-card-subtitle>
                    <div class="gene-card-content text-center">
                        <h1><strong>$ 410/Mo</strong></h1>
                        <md-list dense>
                            <md-list-item class="mat-text-muted"> 60 GB of Bandwidth</md-list-item>
                            <md-list-item class="mat-text-muted"> 1 GB Max File Size</md-list-item>
                            <md-list-item class="mat-text-muted">2 GHZ CPU</md-list-item>
                            <md-list-item class="mat-text-muted">256 MB Memory</md-list-item>
                            <md-list-item class="mat-text-muted"> 1 TB Storage</md-list-item>
                        </md-list>
                        <button md-raised-button color="accent">Choose</button>
                    </div>

                </md-card>
            </div>
        </div>
    </div>
</div>